body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
  background-color: var(--background);
  color: var(--color);
  transition: 0.4s ease-out;

  --background: #ee5b55;
  --color: #fff;
  --btn: var(--background);
  --borderColor: #cb5956;
}

body.short {
  --background: #4ca6a9;
  --borderColor: #449597;
  --btn: var(--background);
}
body.long {
  --background: #498fc1;
  --borderColor: #4181ad;
  --btn: var(--background);
}

/* General Styling */
button {
  border: none;
  cursor: pointer;
  color: inherit;
  font-size: 14px;
  width: 100px;
  height: 30px;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--borderColor);
  user-select: none;
  position: relative;
}

header .timer-settings {
  display: none;
  position: absolute;
  width: 200px;
  height: 200px;
  left: 24rem;
  top: 3.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  justify-content: space-evenly;
  flex-direction: column;
  color: var(--background);
  font-size: 12px;
  padding: 0.5rem 1rem;
  transition: opacity 0.4s ease-out;
}
header .on {
  display: flex;
}
header .timer-settings span {
  display: flex;
  justify-content: space-between;
}
header .timer-settings input:active {
  cursor: pointer;
}
header .timer-settings input:hover {
  cursor: pointer;
}

.logo {
  font-size: 22px;
  margin-right: 5px;
}

/* Main */
main {
  margin: auto;
  margin-top: 4rem;
  background-color: rgba(255, 255, 255, 0.1);
  width: 480px;
  height: 300px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main ul {
  width: auto;
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  padding: 0;
  align-items: center;
}

main .settings .list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: auto;
}
main .settings .list li {
  margin: 0 1rem;
}

main .settings .list li button {
  background-color: transparent;
  font-size: 16px;
}

main .settings .list li button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

main .timer {
  font-size: 120px;
  font-weight: bold;
  user-select: none;
}

main .start {
  background-color: #fff;
  width: 200px;
  height: 55px;
  color: var(--btn);
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 1px;
  margin: auto;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}

main .start:active {
  transform: scale(0.95);
}

.data {
  user-select: none;
  font-weight: 400;
  font-size: 14px;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 1rem;
}

.data p {
  margin: auto;
  margin-top: auto;
  padding: 0 10px;
}

.data .s-text {
  font-size: 10px;
}
